/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(28, 23, 25, 1);
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.content {
    max-width: 1000px;
    min-width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 949px) {
    .inner-content {
        margin: 10px 0;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
        line-height: 1.3;
    }
}

#scorebody {
    background-color: rgba(23,26,28,255);
}

.score-backdrop--dark {
    background-color: rgba(23,26,28,255);
}

.score-backdrop--medium--light {
    background-color: rgba(34,40,42,255)
}


.score-backdrop--medium--dark {
    background-color: rgba(46,53,56,255)
}


.score-backdrop--light {
    background-color: rgba(57,66,70,255)
}


.backdrop--light {
    background-color: rgba(70, 57, 63, 1);
}

.backdrop--medium {
    background-color: rgba(56, 46, 50, 1);
}

.backdrop--dark {
    background-color: rgba(42, 34, 38, 1);
}

.text--dark--yellow {
    color: rgba(221, 159, 8, 1);
}

.text--gray {
    color: rgba(162, 142, 151, 1);
}

.text--yellow {
    color: rgba(252, 198, 51, 1);
}

.text--pink {
    color: rgba(255, 102, 171, 1);
}

.text--orange {
    color: #dc8726;
}

.text--pink--dark {
    color: #663e70;
}

.page-width {
    max-width: 1000px;
    min-width: 1000px;
}

.grade-rank-container {
    max-width: 100px;
    min-width: 100px;
}

.icon {
    max-width: 64px;
    min-width: 64px;
}

.scoreinfo-container {
    max-width: 400px;
    min-width: 400px;
}

.acc-container {
    max-width: 120px;
    min-width: 120px;
}

.pp-container {
    max-width: 100px;
    min-width: 100px;
}

.sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 10px;
    z-index: 1;
}

.sidebar.hidebar {
   left: -130px;
}

.toggle-rectangle {
    position: absolute;
    top: 0;
    right: -15px; /* Adjust the right position */
    height: 100%;
    width: 20px;
    cursor: pointer;
    z-index: 3;
}

.active-link {
    background-color: #555;
}

#playButton {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

#audio-bar {
    width: 100%;
    height: 5px;
    background-color: rgba(42, 34, 38, 1);
    position: relative;
}

#audio-time {
    width: 0;
    height: 100%;
    background-color: rgba(255, 102, 171, 1);
    position: absolute;
    transition: width 0.5s;
    text-align: center;
    line-height: 5px;
    color: white;
}

#audio-text {
   
    width: 100%;
    position: absolute;
    top: -30px;
   
}